h1.nameHeader{
    background: #4aaaa5;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

p,
li,
form{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header{
    background: #ffffff;
    border: #cccccc;
}

footer{
    background: #666666;
    border-top: 10px solid #4aaaa5;
}

.mainContent{
    background: #ffffff;
    border: #dddddd;
}